.film-grid {
  overflow: hidden;
  .film-card {
    min-width: 200px;
    margin: 0 10px;
    padding: 20px;
    border-radius: 8px;
    img {
      width: 100%;
    }
    h3 {
      margin-bottom: 0;
    }
    p {
      margin: 0;
    }
  }
}
.film-carousel {
  display: flex;
  width: fit-content;
  animation: scroll-left 100s linear infinite;
}
.film-grid:hover .film-carousel {
  animation-play-state: paused;
}
.current-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.next-background {
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: "opacity 1.5s ease-in-out";
}
.content-layer {
  position: relative;
  z-index: 3;
  border-radius: 12px;
  padding: 24px 0;
}
.film-card:hover {
  transform: scale(1.01);
  background: #bbb;
  border-radius: 10px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.carousel-container {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70px;
    z-index: 4;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }

  &::after {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }
}
.burning-icon {
  background: linear-gradient(45deg, #ffcc00, #ff6600, #ff0000);
  background-size: 200% 200%;

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
