.detail-container {
  padding-top: 20px;
  .film-detail {
    display: flex;
    align-items: center;
    .cover-image {
      flex-basis: 20%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .description {
      flex-basis: 80%;
      color: white;
      padding-left: 40px;
    }
  }
}
