.film-grid {
  overflow: hidden;
  position: relative;
  .film-card {
    min-width: 200px;
    margin: 0 10px;
    padding: 20px;
    border-radius: 8px;
    img {
      width: 100%;
    }
    h3 {
      margin-bottom: 0;
    }
    p {
      margin: 0;
    }
  }
}
.film-carousel {
  display: flex;
  width: fit-content;
  animation: scroll-left 100s linear infinite;
}
.film-grid:hover .film-carousel {
  animation-play-state: paused;
}
.current-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.next-background {
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: "opacity 1.5s ease-in-out";
}
.content-layer {
  position: relative;
  z-index: 3;
  background-color: black;
  border-radius: 12px;
  padding: 24px;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.film-card:hover {
  transform: scale(1.05);
  background: #bbb;
  border-radius: 10px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
