.search-header {
  margin: 2rem 0;
  h1 {
    margin-top: 0;
  }
}

.search-form {
  position: relative;
  .form-search-button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: aqua;
    border: none;
    cursor: pointer;
    padding: 13px 16px;
    transition: all 0.2s ease;
    color: #666;
    border-radius: 25px;
  }
  .form-input {
    border: none;
    margin-left: 16px;
    width: 95%;
    background-color: inherit;
  }
  .form-input:focus,
  :focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
  }
  .form-span {
    display: inline-flex;
    width: 100%;
    padding: 12px 0;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: silver;
  }
}
.search-results {
  display: flex;
  gap: 8px;
  .movie-grid {
    width: 100%;
    flex: 0 1 auto;
  }
}
.show-more-container {
  margin-top: 1rem;
  .show-more-button {
    width: 100%;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
}
.view-style {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 0 auto;
  background-color: aqua;
  padding: 10px 50px;
  margin-bottom: 1rem;
  ul {
    gap: 10px;
    display: flex;
    list-style-type: none;
  }
  .viewButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .viewButton:last-child {
    margin-left: 10px;
  }
}
.film-grid-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  .movie-card {
    width: 220px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .poster,
  a,
  img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  img {
    width: 100%;
  }
  .film-info {
    margin: 10px;
    .genres-style {
      margin-right: 10px;
      background-color: lightgray;
      padding: 2px;
    }
    .genres-style:last-child {
      margin-right: 0;
    }
  }
}

.film-list-style {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .movie-card {
    display: flex;
    margin-bottom: 15px;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    .poster,
    a,
    img {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    img {
      width: 120px;
      height: 100%;
    }
  }
  .film-info {
    margin-left: 20px;
    .genres-style {
      margin-right: 10px;
      background-color: lightgray;
      padding: 2px;
    }
  }
}
